@import 'global';

.cmd-bar {
  $footer-height: 40px;
  $spacing: 0.5rem;
  $scrollbar-width: 12px;
  $border-radius: 12px;
  $item-height: 48px;

  width: 100%;
  max-width: 640px;
  min-height: 300px;
  padding: 0;
  background: rgba(22, 22, 22, 0.7);
  border-radius: $border-radius;
  font-family: var(--font-sans);
  border: 1px solid var(--gray6);
  box-shadow: var(--command-shadow);
  transition: transform 100ms ease;
  position: relative;

  &:after {
    content: '';
    background: linear-gradient(
                    to right,
                    var(--gray4) 20%,
                    var(--gray4) 40%,
                    var(--gray8) 50%,
                    var(--gray8) 55%,
                    var(--gray4) 70%,
                    var(--gray4) 100%
    );
    z-index: -1;
    position: absolute;
    border-radius: $border-radius;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    animation: shine 1.25s ease forwards 0.1s;
    background-size: 200% auto;
  }

  /* Dialog open animation */
  &[open] {
    animation: dialog 0.2s ease forwards;
    pointer-events: inherit;
  }

  &__header {
    //border-bottom: 1px solid var(--gray6);
    //padding: $spacing $spacing 0.75rem $spacing;

    .input-container {
      display: flex;
      align-items: center;
      padding: $spacing $spacing 0.75rem $spacing;

      .input {
        font-family: var(--font-sans);
        border: none;
        width: 100%;
        font-size: 18px;
        padding: 0.5em 0.5em 1em 0.5em;
        outline: none;
        background: var(--bg);
        color: var(--gray12);

        &::placeholder {
          color: var(--gray11);
        }

        &__leading {
          padding-left: 0.5rem;
          img {
            width: 20px;
            height: 20px;
            aspect-ratio: 16/9;
            /* to white */
            filter: brightness(0) invert(0.7);
          }
          font-weight: bold;
        }

        &__clear {
          button {
            background: transparent;
            border: none;
            padding: 0 1rem;
            margin: 0;
            cursor: pointer;
            color: var(--gray11);
            font-size: 18px;
            font-weight: 600;
            transition: all 150ms ease-in-out;

            &:hover {
              color: var(--gray12);
            }
          }
        }
      }
    }

    /*
    * as tabs
    */
    .filter {
      position: relative;
      margin: 0 auto;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--gray6);
      transition: border-color 0.3s ease;

      &-list {
        display: flex;
        align-items: center;
        margin-left: 0.25em;
      }

      &-line {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        background-color: var(--blue10);
        transition:
                transform 0.25s ease,
                width 0.25s ease;
        margin-bottom: -1px; // overlay base-line
      }

      &-chip {
        background: transparent;
        text-transform: uppercase;
        border: none;
        padding: 0.25rem 0.5rem 0.25rem;
        cursor: pointer;
        position: relative;
        display: inline-block;
        margin: 0 0.7rem;
        transition: color 0.15s ease;
        font-weight: bolder;
        font-size: 13px;
        color: var(--gray10);
        text-decoration: none;

        &-active {
          color: var(--blue8);
        }

        &[aria-selected='true'] {
          color: var(--gray12);
        }

        &:focus-visible {
          outline: var(--blue8) solid 2px;
          border-radius: 3px;
        }

        &:hover:not(&-active) {
          color: var(--blue10);
        }
      }
    }

    /*
    * as checkbox
    */
    //.filter {
    //  position: relative;
    //  margin: 0 auto;
    //  padding-bottom: 0.75rem;
    //  border-bottom: 1px solid var(--gray6);
    //  transition: border-color 0.3s ease;
    //
    //  &-list {
    //    display: flex;
    //    align-items: center;
    //    margin-left: 0.25em;
    //  }
    //
    //  &-chip {
    //    background: transparent;
    //    text-transform: uppercase;
    //    border: none;
    //    margin: 0;
    //    padding: 0.25rem 0.5rem 0.25rem;
    //    font-size: 13px;
    //    color: var(--gray10);
    //    cursor: pointer;
    //    position: relative;
    //    transition: all 150ms ease-in-out;
    //
    //    &[aria-selected='true'] {
    //      color: var(--gray12);
    //    }
    //
    //    &[aria-selected='true']:after  {
    //      content: '';
    //      background-color: var(--blue8);
    //      display: block;
    //      position: absolute;
    //      bottom: -13px;
    //      left: 8px;
    //      right: 8px;
    //      height: 2px;
    //    }
    //
    //    &:focus-visible {
    //      outline: var(--blue8) solid 2px;
    //      border-radius: 3px;
    //    }
    //  }
    //}
  }

  &__body {
    position: relative;
    margin-top: $spacing;
    margin-bottom: calc($footer-height + $spacing);
    .list-container {
      overflow: hidden scroll;
      overscroll-behavior: contain;
      content-visibility: auto;

      /* Scrollbar */
      &::-webkit-scrollbar {
        width: $scrollbar-width;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--gray6);
        border-radius: 20px;
        border: 3px solid var(--gray2);
      }
    }

    .grouped-list {
      overflow: hidden scroll;
      overscroll-behavior: contain;
      content-visibility: auto;

      /* Scrollbar */
      &::-webkit-scrollbar {
        width: $scrollbar-width;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--gray6);
        border-radius: 20px;
        border: 3px solid var(--gray2);
      }
      .group {
        &__label {
          padding: 0 0 0 0.5em;
          height: 20px;
          margin: 0.5em 0 0.25rem 0.75rem;
          font-size: 12px;
          color: var(--gray10);
          text-transform: uppercase;
        }
      }
    }

    .group-container {
      .items {
        padding: 0 0.25rem;
        .item {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          height: $item-height;
          padding: 0 calc($spacing * 2);
          margin-left: calc($scrollbar-width/2);
          border-radius: calc($border-radius/2);
          font-size: 14px;
          color: var(--gray11);
          will-change: background, color;
          user-select: none;
          transition: all 150ms ease;
          transition-property: none;

          &[aria-selected='true'] {
            background: var(--grayA3);
            color: var(--gray12);
          }

          &[aria-disabled='true'] {
            color: var(--gray8);
            cursor: not-allowed;
          }

          &:active {
            transition-property: background;
            background: var(--gray4);
          }

          /* slotted */
          .leading {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
              width: 24px;
              height: 24px;
              aspect-ratio: 16/9;

              /* to grey */
              filter: brightness(0) invert(0.75);
            }

            font-weight: bold;
          }
          .actions {
            display: flex;
            margin-left: auto;
            gap: 8px;
          }
        }
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: $footer-height;
    width: 100%;
    padding: 8px;
    background: var(--gray2);
    border-top: 1px solid var(--gray6);
    border-radius: 0 0 $border-radius $border-radius;

    hr {
      height: 12px;
      width: 1px;
      border: 0;
      background: var(--gray6);
      margin: 0 4px 0 12px;
    }

    /* slotted */
    .trigger,
    .subTrigger {
      display: flex;
      align-items: center;
      color: var(--gray11);
      padding: 0 4px 0 8px;
      font-weight: 500;
      font-size: 12px;
      height: 28px;
      letter-spacing: -0.25px;
    }
    .subTrigger {
      gap: 6px;
    }
  }

  kbd {
    font-family: var(--font-sans);
    background: var(--gray3);
    color: var(--gray11);
    height: 20px;
    width: 20px;
    border-radius: calc($border-radius/3);
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    &:first-of-type {
      margin-left: 8px;
    }
  }

  /* ANIMATIONS */
  @keyframes dialog {
    from {
      opacity: 0.25;
      transform: scale(0.33);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes shine {
    to {
      background-position: 200% center;
      opacity: 0;
    }
  }
}
