@import "global";

.cmd-bar {
  $footer-height: 40px;
  $spacing: 0.5rem;
  width: 100%;
  max-width: 640px;
  background: rgba(22, 22, 22, 0.7);
  border-radius: 12px;
  padding: $spacing;
  font-family: var(--font-sans);
  border: 1px solid var(--gray6);
  box-shadow: var(--command-shadow);
  transition: transform 100ms ease;
  position: relative;

  &__wrapper {

  }

  &[open] {
    animation: dialog 0.2s ease forwards;
    pointer-events: inherit;
  }

  kbd {
    font-family: var(--font-sans);
    background: var(--gray3);
    color: var(--gray11);
    height: 20px;
    width: 20px;
    border-radius: 4px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      margin-left: 8px;
    }
  }

  &__input {
    font-family: var(--font-sans);
    border: none;
    width: 100%;
    font-size: 17px;
    padding: 8px;
    outline: none;
    background: var(--bg);
    color: var(--gray12);
    border-bottom: 1px solid var(--gray6);
    margin-bottom: 16px;
    border-radius: 0;

    &::placeholder {
      color: var(--gray9);
    }
  }

  &__items {

    &-container {
      //TODO: implement height
      height: 21rem;
      margin: 0 $spacing $footer-height;
    }
    transition: 100ms ease;
    transition-property: height;

    &__item {
      content-visibility: auto;
      cursor: pointer;

      padding: calc($spacing + 0.25rem);
      height: 48px;
      border-radius: 8px;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--gray11);
      user-select: none;
      will-change: background, color;
      transition: all 150ms ease;
      transition-property: none;

      &[aria-selected='true'] {
        background: var(--grayA3);
        color: var(--gray12);
      }

      &[aria-disabled='true'] {
        color: var(--gray8);
        cursor: not-allowed;
      }

      &:active {
        transition-property: background;
        background: var(--gray4);
      }

      & + [command-item] {
        margin-top: 4px;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    height: $footer-height;
    align-items: center;
    justify-content: end;
    width: 100%;
    position: absolute;
    background: var(--gray2);
    bottom: 0;
    left: 0;
    padding: 8px;
    border-top: 1px solid var(--gray6);
    border-radius: 0 0 12px 12px;

    hr {
      height: 12px;
      width: 1px;
      border: 0;
      background: var(--gray6);
      margin: 0 4px 0 12px;
    }
  }


  .footer {
    &__trigger,
    &__subTrigger {
      display: flex;
      align-items: center;
      color: var(--gray11);
      padding: 0 4px 0 8px;
      font-weight: 500;
      font-size: 12px;
      height: 28px;
      letter-spacing: -0.25px;
    }
    &__subTrigger{
      gap: 6px;
    }
  }

  /* Item */
  .item {
    &__leading {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 24px;
        height: 24px;
        aspect-ratio: 16/9;

        /* to white */
        filter: brightness(0) invert(1);

      }
      font-weight: bold;
    }
    &__actions{
      display: flex;
      margin-left: auto;
      gap: 8px;

      kbd {
        font-family: var(--font-sans);
        font-size: 12px;
        min-width: 20px;
        padding: 4px;
        height: 20px;
        border-radius: 4px;
        color: var(--gray11);
        background: var(--gray4);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
      }
    }
  }
}


/* ANIMATIONS */
@keyframes dialog {
  from {
    opacity: 0.25;
    transform: scale(0.33);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
