@import "global";

.cmd-bar {
  //TODO: css custom properties
  // fullcalender themen
  $footer-height: 40px;
  $spacing: 0.5rem;
  $scrollbar-width: 12px;
  $border-radius: 12px;
  $item-height: 48px;
  width: 100%;
  max-width: 640px;
  padding: 0;
  background: rgba(22, 22, 22, 0.7);
  border-radius: $border-radius;
  font-family: var(--font-sans);
  border: 1px solid var(--gray6);
  box-shadow: var(--command-shadow);
  transition: transform 100ms ease;
  position: relative;

  /* Dialog open animation */
  &[open] {
    animation: dialog 0.2s ease forwards;
    pointer-events: inherit;
  }

  &__header {
    border-bottom: 1px solid var(--gray6);
    padding:  $spacing  $spacing  0  $spacing;

    .input-container{
      display: flex;
      align-items: center;

      .input {
        font-family: var(--font-sans);
        border: none;
        width: 100%;
        font-size: 18px;
        padding: 0.5em 0.5em 1em 0.5em;
        outline: none;
        background: var(--bg);
        color: var(--gray12);

        &::placeholder {
          color: var(--gray11);
        }

        &__leading{
          padding-left: 0.5rem;
          img {
            width: 20px;
            height: 20px;
            aspect-ratio: 16/9;
            /* to white */
            filter: brightness(0) invert(0.7);

          }
          font-weight: bold;
        }

        &__clear{
          button{
            background: transparent;
            border: none;
            padding: 0 1rem ;
            margin: 0;
            cursor: pointer;
            color: var(--gray11);
            font-size: 18px;
            font-weight: 600;
            transition: all 150ms ease-in-out;

            &:hover{
              color: var(--gray12);
            }
          }
        }
      }
    }


    .filter{
      display: flex;
      align-items: center;
      margin-left: 0.25em;
      font-size: 12px;
      color: var(--gray10);
      text-transform: uppercase;

      &-chip {
        position: relative;
        padding: 0.25rem 0.5rem 0.75rem;
        transition: all 150ms ease-in-out;

        &--selected {
          color: var(--gray12);
        }

        &--selected::after {
          content: "";
          background-color: var(--blue8);
          display: block;
          position: absolute;
          bottom: 0;
          left: 8px;
          right: 8px;
          height: 2px;
        }
      }
    }

  }

  &__body{
    position: relative;
    margin-top: $spacing;
    margin-bottom: calc($footer-height + $spacing);
    .list-container{
      overflow: hidden scroll;
      overscroll-behavior: contain;
      content-visibility: auto;

      /* Scrollbar */
      &::-webkit-scrollbar {
        width: $scrollbar-width;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--gray6);
        border-radius: 20px;
        border: 3px solid var(--gray2);
      }
    }

    .grouped-list{
      overflow: hidden scroll;
      overscroll-behavior: contain;
      content-visibility: auto;

      /* Scrollbar */
      &::-webkit-scrollbar {
        width: $scrollbar-width;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--gray6);
        border-radius: 20px;
        border: 3px solid var(--gray2);
      }
      .group{
        &__label{
          padding: 0 0 0 0.5em;
          margin: 0.5em 0;
          font-size: 12px;
          color: var(--gray10);
          text-transform: uppercase;
        }
      }
    }

    .group-container{
      .items{
        .item {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          height: $item-height;
          padding: 0 calc($spacing * 2);
          margin-left: calc($scrollbar-width/2);
          border-radius: calc($border-radius/2);
          font-size: 14px;
          color: var(--gray11);
          will-change: background, color;
          user-select: none;
          transition: all 150ms ease;
          transition-property: none;

          &[aria-selected='true'] {
            background: var(--grayA3);
            color: var(--gray12);
          }

          &[aria-disabled='true'] {
            color: var(--gray8);
            cursor: not-allowed;
          }

          &:active {
            transition-property: background;
            background: var(--gray4);
          }
        }
      }
    }

    .list-items{}

    .list-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      height: $item-height;
      padding: 0 calc($spacing * 2);
      margin-left: calc($scrollbar-width/2);
      border-radius: calc($border-radius/2);
      font-size: 14px;
      color: var(--gray11);
      will-change: background, color;
      user-select: none;
      transition: all 150ms ease;
      transition-property: none;

      &[aria-selected='true'] {
        background: var(--grayA3);
        color: var(--gray12);
      }

      &[aria-disabled='true'] {
        color: var(--gray8);
        cursor: not-allowed;
      }

      &:active {
        transition-property: background;
        background: var(--gray4);
      }
    }

    /* Styles for slotted element */
    .custom-item {
      &__leading {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          width: 24px;
          height: 24px;
          aspect-ratio: 16/9;

          /* to white */
          filter: brightness(0) invert(1);

        }
        font-weight: bold;
      }
      &__actions{
        display: flex;
        margin-left: auto;
        gap: 8px;

      }
    }

    .empty {
      position: absolute;
      top: 5%;  /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */

      transform: translate(-50%, -50%);
      white-space: pre-wrap;
      color: var(--gray11);
    }

    .skeleton {
      height: $item-height;
      margin: $spacing;
      border-radius: calc($border-radius/2);
      will-change: background;
      user-select: none;
      transition: all 150ms ease;
      background: var(--grayA3);
      animation: pulse 1.5s ease-in-out infinite;
      @keyframes pulse {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
        }
      }
    }

  }


  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: $footer-height;
    width: 100%;
    padding: 8px;
    background: var(--gray2);
    border-top: 1px solid var(--gray6);
    border-radius: 0 0 $border-radius $border-radius;

    hr {
      height: 12px;
      width: 1px;
      border: 0;
      background: var(--gray6);
      margin: 0 4px 0 12px;
    }

    /* Styles for slotted element */
    .custom-footer {
      &__trigger,
      &__subTrigger {
        display: flex;
        align-items: center;
        color: var(--gray11);
        padding: 0 4px 0 8px;
        font-weight: 500;
        font-size: 12px;
        height: 28px;
        letter-spacing: -0.25px;
      }
      &__subTrigger{
        gap: 6px;
      }
    }

  }

  kbd {
    font-family: var(--font-sans);
    background: var(--gray3);
    color: var(--gray11);
    height: 20px;
    width: 20px;
    border-radius: calc($border-radius/3);
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    &:first-of-type {
      margin-left: 8px;
    }
  }

  /* ANIMATIONS */
  @keyframes dialog {
    from {
      opacity: 0.25;
      transform: scale(0.33);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

