@import "anny-base";

.cmd-bar{
  pointer-events: none;
  position: relative;

  background-color: var(--panel-background);
  border: none;
  border-radius: var(--panel-border-radius);
  box-shadow: var(--panel-shadow);
  opacity: 0;

  //width
  min-width: 40%;
  max-width: 95%;
  @media screen and (max-width: 576px) {
    width: 100%;
  }

  // flex
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &[open] {
    animation: dialog 0.2s ease forwards;
    pointer-events: inherit;
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5rem;


    &.selected {
      background-color: var(--primary-color);
      color: white;
    }

    &__icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
    }

    &__icon img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
    }

    &__name {
      font-weight: bold;
    }

    &__actions {
      display: flex;
      gap: 8px;
      justify-content: flex-end;
    }
  }

  //&:hover {
  //  color: var(--primary-color);
  //  //color: var(--primary-color-hover);
  //  background-color: var(--panel-background-dark);
  //}
  //&::backdrop {
  //  backdrop-filter: blur(5px);
  //}
}

@keyframes dialog {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
